@charset "UFT-8";


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face{
    font-family: 'refolle';
    src: url('../font/REFOLLE.ttf');
}

@font-face{
    font-family: 'Ipsum';
    src: url('../font/IpsumSemi500Free-mL1LG.otf');
}

@font-face{
    font-family: 'prog';
    src: url('../font/Pragmatica-ExtraLight.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    width: 96vw;
    height: 100vh;
    font-family: "prog", sans-serif;
    font-size: 1.5em;
}

nav{
    display: flex;
    height: 5vh;
    width: 87vw;
    margin: 17px;
    justify-content: space-between;
}

header{
    margin: auto;
    width: 87vw;
    margin-top: 40px;
    margin-left: 27px;
    margin-bottom: 4vh;
    font-family: 'refolle', serif;
}

.romando{
    width: 100px;
}

main{
    width: 87vw;
    height: 100vh;
    margin-top: 17px;
    margin-left: 27px;
}

p{
    margin-bottom: 35px;
    color: #666666
}

.prin{
    width: 98%;
}

.seta{
    position: relative;
    left: 65%;
    width: 20%;
    transform: translate(9%,-70%);
}

.btn{
    color: white;
    background-color: #6365EF;
    width: 50vw;
    height: 9vh;
    border: none;
    font-size: 0.9em;
    margin-top: 12%;
    margin-bottom: 11%;
}

.Uma{
    color: #6365EF;
}

article > h1{
    font-family: "Ipsum", serif;
    margin-bottom: 8vh;
}

.tecla{
    width: 98%;
}

article > p{
    margin-top: 5vh;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #6365EF;
    font-weight:bold;
}