@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@font-face{
    font-family: 'prog';
    src: url('../font/Pragmatica-ExtraLight.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    width: 100vw;
    height: 100vh;
    font-family: "prog", sans-serif;
    font-size: 1.5em;
}

nav{
    display: flex;
    height: 4vh;
    width: 93vw;
    margin: 17px;
    justify-content: space-between;
}

header{
    margin: 17px;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.2em;
}

main{
    margin: 17px;
}